.discountHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: $black-color;
}

.discountHeader > p {
  @include p__base;
  text-align: center;
  color: $white-color;
}