// Colors
$black-color: #000000;
$white-color: #ffffff;

$sidebar-color1: #ed7b48;
$sidebar-color2: #bd5a4b;

$green-color: #4fb07d;
$red-color: #f84f5a;

// For testing purposes
@mixin borders__testing {
  border: 4px solid black;
  box-sizing: border-box;
}

@mixin h1__base {
  font-family: canelaBold;
}

@mixin input__base {
  font-family: canelaRegular;
  font-size: 1rem;
}

@mixin p__base {
  font-family: canelaRegular;
  font-size: 1rem;
}

@mixin label__base {
  font-family: canelaBold;
  font-size: 1.5rem;
}






















































// canela fonts
@mixin h1__base--canela {
  font-family: canelaBold;
  @media screen and (max-width: 2561px) {
    font-size: 6rem;
  }
  @media screen and (max-width: 1441px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 1025px) {
    font-size: 2.5rem;
  }
  // @media screen and (max-width: 426px) {
  //   font-size: 2.5rem;
  // }
  // @media screen and (max-width: 321px) {
  //   font-size: 2.5rem;
  // }
}

@mixin h2__base--canela {
  font-family: canelaBold;
  @media screen and (max-width: 2561px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 1441px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 1025px) {
    font-size: 1.8rem;
  }
  // @media screen and (max-width: 426px) {
  //   font-size: 1rem;
  // }
  // @media screen and (max-width: 321px) {
  //   font-size: 0.8rem;
  // }
}

@mixin h4__base--canela {
  font-family: canelaRegular;
  @media screen and (max-width: 2561px) {
    font-size: 6rem;
  }
  @media screen and (max-width: 1441px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 1025px) {
    font-size: 2.5rem;
  }
  // @media screen and (max-width: 426px) {
  //   font-size: 1.25rem;
  // }
  // @media screen and (max-width: 321px) {
  //   font-size: 1rem;
  // }
}

@mixin h5__base--canela {
  font-family: canelaRegular;
  @media screen and (max-width: 2561px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 1441px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 1025px) {
    font-size: 1.8rem;
  }
  // @media screen and (max-width: 426px) {
  //   font-size: 1rem;
  // }
  // @media screen and (max-width: 321px) {
  //   font-size: 0.8rem;
  // }
}

@mixin h6__base--canela {
  font-family: canelaRegular;
  @media screen and (max-width: 2561px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 1441px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 1025px) {
    font-size: 1.25rem;
  }
  @media screen and (max-width: 426px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 321px) {
    font-size: 0.9rem;
  }
}

@mixin p__base--canela {
  font-family: canelaRegular;
  @media screen and (max-width: 2561px) {
    font-size: 1.8rem;
  }
  @media screen and (max-width: 1441px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 1025px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 426px) {
    font-size: 0.6rem;
  }
  @media screen and (max-width: 321px) {
    font-size: 0.5rem;
  }
}





// apercu fonts
@mixin h1__base--apercu {
  font-family: apercuBold;
  @media screen and (max-width: 2561px) {
    font-size: 4rem;
  }
  @media screen and (max-width: 1441px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 1025px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 426px) {
    font-size: 1.25rem;
  }
  @media screen and (max-width: 321px) {
    font-size: 1rem;
  }
}

@mixin h2__base--apercu {
  font-family: apercuBold;
  @media screen and (max-width: 2561px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 1441px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 1025px) {
    font-size: 1.25rem;
  }
  @media screen and (max-width: 426px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 321px) {
    font-size: 0.8rem;
  }
}

@mixin h4__base--apercu {
  font-family: apercuRegular;
  @media screen and (max-width: 2561px) {
    font-size: 4rem;
  }
  @media screen and (max-width: 1441px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 1025px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 426px) {
    font-size: 1.25rem;
  }
  @media screen and (max-width: 321px) {
    font-size: 1rem;
  }
}

@mixin h5__base--apercu {
  font-family: apercuRegular;
  @media screen and (max-width: 2561px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 1441px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 1025px) {
    font-size: 1.25rem;
  }
  @media screen and (max-width: 426px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 321px) {
    font-size: 0.8rem;
  }
}

@mixin h6__base--apercu {
  font-family: apercuRegular;
  @media screen and (max-width: 2561px) {
    font-size: 2.5rem;
  }
  @media screen and (max-width: 1441px) {
    font-size: 1.25rem;
  }
  @media screen and (max-width: 1025px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 426px) {
    font-size: 0.8rem;
  }
  @media screen and (max-width: 321px) {
    font-size: 0.6rem;
  }
}

@mixin p__base--apercu {
  font-family: apercuRegular;
  @media screen and (max-width: 2561px) {
    font-size: 1.8rem;
  }
  @media screen and (max-width: 1441px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 1025px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 769px) {
    font-size: 0.8rem;
  }
  // @media screen and (max-width: 321px) {
  //   font-size: 0.5rem;
  // }
}





















// @mixin h6__base--canela {
//   font-family: canelaRegular;
//   font-size: 3rem;
// }

// Button variables
@mixin button__base {
  @include h6__base--canela;
  border: 4px solid black;
  border-radius: 12px;
  box-sizing: border-box;

  padding: 0.5rem 1rem;
  background-color: transparent;

  cursor: pointer;
}

@mixin button__base--noBorder {
  border-radius: 48px;
  box-sizing: border-box;

  padding: 1rem;
  background-color: transparent;
  font-family: canelaBold;
  font-size: 1.25rem;

  cursor: pointer;
}

@mixin sidebar__iconCtn {
  position: relative;
  padding: 2rem;
  font-size: 2.5rem;
  cursor: pointer;
}

// font related mixins

// Modal stuff
@mixin modal__background {
  position: absolute;
  // Might fuck up later
  height: calc(100vh - 64px);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
}

// Flash stuff
@mixin flash__base {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 80vw;
}
