// Colors
$black-color: #000000;
$white-color: #ffffff;

$sidebar-color1: #ED7B48;
$sidebar-color2: #BD5A4B;

$green-color: #4FB07D;
$red-color: #F84F5A;



// For testing purposes
@mixin borders__testing {
  border: 4px solid black;
  box-sizing: border-box;
}


@mixin h1__base {
  font-family: canelaBold;
}

@mixin input__base {
  font-family: canelaRegular;
  font-size: 1rem;
}


@mixin p__base {
  font-family: apercuRegular;
  font-size: 1rem;
}

@mixin label__base {
  font-family: canelaBold;
  font-size: 1.5rem;
}





// Canela fonts
@mixin h1__base--canela {
  font-family: canelaBold;
  font-size: 2.5rem;
}

@mixin h2__base--canela {
  font-family: canelaBold;
  font-size: 1.5rem;
}

@mixin h4__base--canela {
  font-family: canelaRegular;
  font-size: 2.5rem;
}

@mixin h5__base--canela {
  font-family: canelaRegular;
  font-size: 1.5rem;
}

@mixin p__base--canela {
  font-family: canelaRegular;
  font-size: 1rem;
}


// Apercu fonts
@mixin h1__base--apercu {
  font-family: apercuBold;
  font-size: 2.5rem;
}

@mixin h2__base--apercu {
  font-family: apercuBold;
  font-size: 1.5rem;
}

@mixin h5__base--apercu {
  font-family: apercuRegular;
  font-size: 1.5rem;
}

@mixin h6__base--apercu {
  font-family: apercuRegular;
  font-size: 1.25rem;
}

@mixin p__base--apercu {
  font-family: apercuRegular;
  font-size: 1rem;
}











// Button variables
@mixin button__base {
  border: 4px solid black;
  border-radius: 12px;
  box-sizing: border-box;

  padding: 0.5rem 1rem;
  background-color: transparent;
  font-family: canelaBold;
  font-size: 1rem;

  cursor: pointer;
}


@mixin button__base--noBorder {
  border-radius: 48px;
  box-sizing: border-box;

  padding: 1rem;
  background-color: transparent;
  font-family: apercuBold;
  font-size: 1.25rem;

  cursor: pointer;
}











@mixin sidebar__iconCtn {
  position: relative;
  padding: 2rem;
  font-size: 2.5rem;
  cursor: pointer;
}



// font related mixins





// Modal stuff
@mixin modal__background {
  position: absolute;
  // Might fuck up later
  height: calc(100vh - 64px);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
}


// Flash stuff 
@mixin flash__base {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 80vw;
}