.pagination {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem 5rem;
}

.pagination__navigationCtn {
  @include h5__base--apercu;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0rem 1rem;
  text-align: center;
  background-color: $black-color;
  color: $white-color;
}


@media screen and (max-width: 426px) {
  .pagination__navigationCtn {
    height: 4rem;
  }

  .pagination__navigationCtn > h5 {
    padding: 0rem 0.25rem;
    width: 3rem;
  }
}