.input__ctn {
  box-sizing: border-box;
  margin-bottom: 2rem;
}

// -------------------------- For editmodal stuff --------------------------

.input_ctn--editModal {
  box-sizing: border-box;
  margin-bottom: 1rem;
}


// -------------------------------------------------------------------------
.input__ctn label {
  @include h5__base--apercu;
}

.input__ctn > div {
  display: flex;
  flex-direction: column;
}


.input__div--valid {
  @include h5__base--apercu;
  border: 4px solid black;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0rem;
  width: 100%;
}

.input__div--invalid {
  @include h5__base--apercu;
  border: 4px solid $red-color;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0rem;
  width: 100%;
}


.input__span--valid {
  @include h5__base--apercu;
  margin-left: 0.5rem;
  color: $green-color;
}

.input__span--invalid {
  @include h5__base--apercu;
  margin-left: 0.5rem;
  color: $red-color;
}

